
/*! reeeset.css */

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

/* Reset Normalize margins/padding */
* {
  margin: 0;
  padding: 0;
}

h1,
figure,
fieldset {
  margin: 0;
}

fieldset {
  padding: 0;
}

/* http://unstoppablerobotninja.com/entry/fluid-images */
audio,
embed,
iframe,
img,
input,
object,
video,
table {
  max-width: 100%;
}

/* Add generic styles to H5BP .browserupgrade - https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html#L18-L20 */
.browserupgrade {
  padding: 15px;

  text-align: center;

  color: white;
  background: #333333;
}

.browserupgrade a {
  text-decoration: none;

  color: dodgerblue;

  font-weight: bold;
}

.browserupgrade a:hover {
  text-decoration: underline;
}

/* Basic typography */

/* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide */
html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/*
 * Implement the 'Lobotomized Owl' technique on content areas.
 *
 * Example:
 *
 * article * + * {
 *   margin-top: 1rem;
 * }
 *
**/

/* Tweaks */
table {
  width: 100%;
}
